{% extends 'admin/base.html' %}
{% block body %}
<section id="hero">
    <div class="container">
        {% for message in get_flashed_messages() %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Hey, {{name}} {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}

        {% if id == current_user.id %}
        <h1>Update user</h1>

        <br /><br />

        <form action="/admin/update/{{ name_to_update.id }}" method="POST">
            {% if error and error.error %}

            <div class="info type-{{ error.type }}">
                {{ error.error }}
            </div>
            {% endif %}

            {{ form.hidden_tag() }}

            {{ form.name.label(
            class="form-label") }}
            {{ form.name(
            class="form-control", placeholder="Full Name", value= name_to_update.name) }}
            <br />
            {{ form.username.label(
            class="form-label") }}
            {{ form.username(
            class="form-control",placeholder="Username", value= name_to_update.username) }}
            <br />
            {{ form.email.label(
            class="form-label") }}
            {{ form.email(
            class="form-control",placeholder="Email", value= name_to_update.email) }}
            <br />

            {{ form.submit(
            class="btn btn-dark") }}

            <a href="{{url_for('admin_routes.update', id=id) }}" class="btn btn-danger">Delete</a>

        </form>
        {% else %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            You can't edit this user!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <h3>Access Denied</h3>
        
        {% endif %}
        <br /><br />
    </div>
</section>
{% endblock %}