{% extends 'base.html' %}
<body>
    {% block body %}
    <div class="container">
        {{ statment }}
        <br></br>
        <form action="/create_account" method="POST" >
            <div class="mb-3">
                <input type ='first_name' class="form-control" id="exampleInputEmail1"
                aria-="emailHelp" placeholder="First name" name="first_name" value="{{ first_name}}">
            </div>
            <div class="mb-3">
                <input type ='last_name' class="form-control" id="exampleInputEmail1"
                aria-="emailHelp" placeholder="Last name" name="last_name" value="{{ last_name }}">
            </div>
            <div>
            <div class="mb-3">
                <input type ='email' class="form-control" id="exampleInputEmail1"
                aria-="emailHelp" placeholder="Email Address" name="email" value="{{ email }}">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <input type ='password' class="form-control" id="exampleInputEmail1"
                aria-="emailHelp" placeholder="password" name="password" value="{{ password }}">
            </div>
            <br>
            <button type="submit" class="btn btn-secundary">Submit</button>
            <br>
            <button type="create_account" class="btn btn-secundary">Create Account</button>
        </form>
    {% endblock %}
</body>
</html>