{% extends 'base.html' %}

{% block body %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    Hey {{name}} {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  
{% endfor %}
<div class="User info">
  <h1 data-aos="fade-up" data-aos-delay="150" data-aos-once="true"
            style="font-size: 30px;text-align: center;margin-top: 30px; margin-bottom: 45px;">DASHBOARD</h1>
 
  <h3 data-aos="fade-up" data-aos-delay="150" data-aos-once="true"
            style="font-size: 25px;text-align: center;margin-top: 30px;">My Account</h3>
  <br/>
  <a class="customer_logout_link" href="{{url_for('logout')}}">Log Out</a>                         
 
  <br/><br/><br>
  <strong>Name:</strong> {{ current_user.name }}<br/>
  <strong>Username:</strong> {{ current_user.username }}<br/>
  <strong>Email</strong> {{ current_user.email }}<br/>
  <strong>Date Joined</strong> {{ current_user.date_added }}<br/>
</div>
<br/><br/><br>

<div class="row">
  <div class="col">
      <p class="pulse animated"
          style="font-family: Montserrat, sans-serif;color: var(--bs-black);font-size: 26px;">
          Order History</p>
      <p class="pulse animated"
          style="font-family: Montserrat, sans-serif;color: var(--bs-black);font-size: 20px;">
          You havent placed any orders yet</p>
  </div>
  <div class="col">
      <p class="pulse animated"
          style="font-family: Montserrat, sans-serif;color: var(--bs-blcak);font-size: 26px;">
          Account Details</p>
      <p class="pulse animated"
          style="font-family: Montserrat, sans-serif;color: var(--bs-blcak);font-size: 20px;">
          View Addresses</p>
  </div>
  </div>
</div>

{% endblock %}