{% extends 'index.html' %}

<body>
    {% block body %}
    <div class="container">
        <div class="box">
            <div class="dream">
                <a href="static/img/vaza.jpeg" data-lightbox="dream"><img src="static/img/vaza.jpeg"
                        class="pulse animated" /></a>
                <a href="static/img/radione.jpeg" data-lightbox="dream"><img src="static/img/radione.jpeg"
                        class="pulse animated" /></a>
                <a href="static/img/case.jpeg" data-lightbox="dream"><img src="static/img/case.jpeg"
                        class="pulse animated" /></a>
            </div>

            <div class="dream">
                <a href="static/img/loncarstvo.jpg" data-lightbox="dream"><img src="static/img/loncarstvo.jpg"
                        class="pulse animated" /></a>
                <a href="static/img/zdjela_gline.jpeg" data-lightbox="dream"><img src="static/img/zdjela_gline.jpeg"
                        class="pulse animated" /></a>
                <a href="static/img/klinci.jpg" data-lightbox="dream"><img src="static/img/klinci.jpg"
                        class="pulse animated" /></a>
            </div>

            <div class="dream">
                <a href="static/img/vaze.jpeg" data-lightbox="dream"><img src="static/img/vaze.jpeg"
                        class="pulse animated" /></a>
                <a href="static/img/velika_zdjela.jpeg" data-lightbox="dream"><img src="static/img/velika_zdjela.jpeg"
                        class="pulse animated" /></a>
                <a href="static/img/radinocia_klinci.jpeg" data-lightbox="dream"><img
                        src="static/img/radionica_klinci.jpeg" class="pulse animated" /></a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>