{% extends 'index.html' %}

<body>
    {% block body %}
    <section id="hero" class="d-flex flex-column justify-content-between">
        <div class="container" style="margin-bottom: 50px; margin-top: 600px;">
            <div class="row">
                <div class="col">
                    <p class="text-center" data-aos="fade-up" data-aos-duration="350" data-aos-once="true"
                        style="color: var(--bs-white);font-family: Montserrat, sans-serif;font-size: 22px;">
                        Conntacts and News</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="pulse animated"
                        style="font-family: Montserrat, sans-serif;color: var(--bs-white);font-size: 20px;">
                        Telephone number: +38597315640</p>
                    <p class="pulse animated"
                        style="font-family: Montserrat, sans-serif;color: var(--bs-white);font-size: 20px;">email:
                        mateja.sijan@gmail.com</p>
                </div>
                <div class="col">
                    <p class="pulse animated"
                        style="font-family: Montserrat, sans-serif;color: var(--bs-white);font-size: 20px;">
                        Workshops from 01.01.2022 every Tuesday</p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>