{% include 'links' %}
    <section class="showcase">
        <header>
            <h2 class="logo">BESHLAND</h2>
            <div class="toggle"></div>
        </header>

        <video src="static/img/video3.mp4" autoplay loop muted ></video>

        <div class="text">
            <h2>Welcome</h2>
            <h3>Exploring the world of BES</h3>
            <a href="gallery">Explore</a>
        </div>

        <ul class="social">
            <li><a href="#"><img src="/static/img/facebook.png"/></a></li>
            <li><a href="#"><img src="/static/img/instagram.png"/></a></li>
            <li><a href="#"><img src="/static/img/twitter.png"/></a></li>
        </ul>
    </section>

        <div class= "menu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{url_for('about')}}"
                    style="font-family: Montserrat, sans-serif;">ABOUT</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('gallery')}}"
                        style="font-family: Montserrat, sans-serif;">GALLERY</a></li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('dashboard')}}"
                            style="font-family: Montserrat, sans-serif;">DASHBOARD</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}"
                            style="font-family: Montserrat, sans-serif;">LOGOUT</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('add_user')}}"
                            style="font-family: Montserrat, sans-serif;">REGISTER</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}"
                            style="font-family: Montserrat, sans-serif;">LOGIN</a></li>          
                {% endif %}    
            </ul>
        </div>

        <script>
            const menuToggle = document.querySelector('.toggle')
            const showcase = document.querySelector('.showcase')

            menuToggle.addEventListener('click', () => {
                menuToggle.classList.toggle('active')
                showcase.classList.toggle('active')
            })
        </script>
</body>
</html>
