{% extends 'base.html' %}

    {% block body %}
    <video src="static/img/video3.mp4" autoplay loop muted ></video>

    <div class="text">
        <h2>Welcome</h2>
        <h3>Exploring the world of BES</h3>
        <a href="gallery">Explore</a>
    </div>

    <ul class="social">
        <li><a href="#"><img src="/static/img/facebook.png"/></a></li>
        <li><a href="#"><img src="/static/img/instagram.png"/></a></li>
        <li><a href="#"><img src="/static/img/twitter.png"/></a></li>
    </ul>
    {% endblock %}



    

