</section>
<div class= "menu">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{url_for('index')}}"
            style="font-family: Montserrat, sans-serif;">HOME</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('about')}}"
            style="font-family: Montserrat, sans-serif;">ABOUT</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('gallery')}}"
                style="font-family: Montserrat, sans-serif;">GALLERY</a></li>
        {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{url_for('dashboard')}}"
                    style="font-family: Montserrat, sans-serif;">DASHBOARD</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}"
                    style="font-family: Montserrat, sans-serif;">LOGOUT</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{{url_for('add_user')}}"
                    style="font-family: Montserrat, sans-serif;">REGISTER</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}"
                    style="font-family: Montserrat, sans-serif;">LOGIN</a></li>          
        {% endif %}    
    </ul>
</div>

<script>
    const menuToggle = document.querySelector('.toggle')
    const showcase = document.querySelector('.showcase')

    menuToggle.addEventListener('click', () => {
        menuToggle.classList.toggle('active')
        showcase.classList.toggle('active')
    })
</script>
