{% extends 'public/base.html' %}
{% block body %}
<section id="hero">
    <div class="container">
        <h1 data-aos="fade-up" data-aos-delay="150" data-aos-once="true"
            style="font-size: font= 30px;text-align: center;margin-top: 30px; margin-bottom: 45px; font-family:Montserrat">{{ page_name }}</h1>
            <hr class="hr--small">
        <div class="row-about" >
            <div class="col-lg-12">
                <p data-aos="fade-up" data-aos-delay="250" data-aos-once="true">
                         Mateja Sijan is a young artist, often
                         misunderstood because she is ahead of her time in many ways.
                         All her life she wanted to work in some form of art and she found it in Beshland.
                         Now her mission is to help others find that same answer and find a place where they
                         can relax and have fun while expressing themselves artistically. Mateja has traveled 
                         and lived in many countries and thus broadened her horizons about life, which also 
                         allowed her to grow as an artist as well as an inexhaustible source of inspiration.
                </p>
                <p data-aos="fade-up" data-aos-delay="250" data-aos-once="true">BESHLAND is a place where
                     people come to have fun and relax and maybe find an artist in themselves.
                     BESHLAND is a world unto itself for all people with the feeling that they want to build 
                     something with their own hands while having fun with their friends. BESHLAND is actually a 
                     place that is an extension of Mateja, as much as it is her world she has decided to share 
                     her work and her knowledge with others.
                    
                </p>
            </div>
        </div>
        <div>
            <div class="about">
                <div class="col-lg-12">
                    <figure class="figure d-block"><img class="figure-img" data-aos="fade-up" data-aos-delay="400"
                            data-aos-once="true" src="/static/img/bes_prostor.jpeg">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>