{% extends 'public/base.html' %}

{% block body %}
<body>
    <div id="hero">
        <div class="container">
            <h1 data-aos="fade-up" data-aos-delay="150" data-aos-once="true"
                style="font-size: 30px;text-align: center;margin-top: 0px; margin-bottom: 50px; font-family:Montserrat">{{ page_name }}</h1>
                <hr class="hr--small">
                <div class="row">
                    {% for image in images %}
                    <div class="col">
                        <div class="image">
                            {% if image %}
                            <figure>
                                <a href="{{url_for('public_routes.cup_size')}}"><img src="/static/img/{{image}}"></a>
                                    <br>
                            </figure>
                            <span >{{ images[image] }}</span>
                            {% endif %}
                            <br><br>
                        </div>
                    </div>
                    {% endfor %}
                    
</body>
{% endblock %}