{% extends 'public/base.html' %}

<body>
    {% block body %}
    <div class="container">
        <h1 data-aos="fade-up" data-aos-delay="150" data-aos-once="true" class="pb20">{{ page_name }}</h1>
        <div class="row">
            <div class="col">
                <a href="{{url_for('public_routes.webshop')}}" h3 data-aos="fade-up" data-aos-delay="150" data-aos-once="true" class="pb20">Webshop</a>
                {% for image in images_row %}
                <div class="col-md-4">
                    {% if image %}
                    <a href="static/img/{{image}}" data-lightbox="dream"><img src="static/img/{{image}}"
                            class="pulse animated gallery-img"/></a>
                            <br>
                            {{ images_row[image] }}
                    {% endif %}   
                </div>
                {% endfor %}
            </div>
            <div class="col">
                <a href="{{url_for('public_routes.workshop')}}" h3 data-aos="fade-up" data-aos-delay="150" data-aos-once="true" class="pb20">Workshop</a>
                {% for image in images_row_clay %}
                <div class="col-md-4">
                    {% if image %}
                    <a href="static/img/{{image}}" data-lightbox="dream"><img src="static/img/{{image}}"
                            class="pulse animated gallery-img"/></a>
                            <br>
                            {{ images_row_clay[image] }}
                    {% endif %}   
                </div>
                {% endfor %}
            </div>
            <div class="col">
                <a href="{{url_for('public_routes.gallery')}}"h3 data-aos="fade-up" data-aos-delay="150" data-aos-once="true" class="pb20">Gallery</a>
                {% for image in images_row_workshop %}
                <div class="col-md-4">
                    {% if image %}
                    <a href="static/img/{{image}}" data-lightbox="dream"><img src="static/img/{{image}}"
                            class="pulse animated gallery-img"/></a>
                            <br>
                            {{ images_row_workshop[image] }}
                    {% endif %}   
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </div>
</body>