{% extends 'public/base.html' %}

{% block body %}
<body>
    <div id="hero">
        <div class="container">
            <h1 data-aos="fade-up" data-aos-delay="150" data-aos-once="true"
                style="font-size: 30px;text-align: center;margin-top: 0px; margin-bottom: 50px; font-family:Montserrat">{{ page_name }}</h1>
                <hr class="hr--small">
                <div class="row">
                    <div class='col'>
                        <div class="image">
                                <figure>
                                    <img src="/static/img/komplet_casa_1.jpeg" alt=''/>
                                    <div><a href="#" class="centered_2">#</a></div>
                                </figure>
                                <br>
                        </div>
                    </div>
                    <div class='col'>
                        <div class="image">
                                <figure>
                                    <img src="/static/img/komplet_casa_2.jpeg" alt=''/>
                                    <div><a href="" class="centered_2">#</a></div>
                                </figure>
                                <br>
                        </div>
                    </div>
                    <div class='col'>
                        <div class="image">
                                <figure>
                                    <img src="/static/img/bes_casa_3.jpeg" alt=''/>
                                    <div><a href="" class="centered_2">#</a></div>
                                </figure>
                                <br>
                        </div>
                    </div>
                    <div class='col'>
                        <div class="image">
                                <figure>
                                    <img src="/static/img/bes_casa_3.jpeg" alt=''/>
                                    <div><a href="" class="centered_2">#</a></div>
                                </figure>
                                <br>
                        </div>
                    </div>
                    <div class='col'>
                        <div class="image">
                                <figure>
                                    <img src="/static/img/bes_casa_3.jpeg" alt=''/>
                                    <div><a href="" class="centered_2">#</a></div>
                                </figure>
                                <br>
                        </div>
                    </div>
                    <div class='col'>
                        <div class="image">
                                <figure>
                                    <img src="/static/img/bes_casa_3.jpeg" alt=''/>
                                    <div><a href="" class="centered_2">#</a></div>
                                </figure>
                                <br>
                        </div>
                    </div>
                </div>
                
</body>
{% endblock %}