{% extends 'public/base.html' %}

{% block body %}
<body>
    <div id="hero">
        <div class="container">
            <h1 data-aos="fade-up" data-aos-delay="150" data-aos-once="true"
                style="font-size: 30px;text-align: center;margin-top: 0px; margin-bottom: 50px; font-family:Montserrat">{{ page_name }}</h1>
                <hr class="hr--small">
            <div class="row">
                <div class='col'>
                    <div class="image">
                            <figure>
                                <img src="/static/img/bes_casa_1.jpeg" alt=''/>
                                <div><a href="{{url_for('public_routes.cups')}}" class="centered_2">Cups</a></div>
                            </figure>
                            <br>
                    </div>
                </div>
                <div class='col'> 
                    <div class="image">
                        <figure>
                            <img src="/static/img/bes_slika2.jpeg" alt=''/>
                            <div><a href="{{url_for('')}}" class="centered_1">Chandeliers</a></div>
                        </figure>
                        <br>
                    </div>
                </div>
                <div class='col'>
                    <div class="image">
                        <figure>
                            <img src="/static/img/bes_slika3.jpeg" alt=''/>
                            <div><a href="" class="centered_3">Sculptures </a></div>
                        </figure>
                        <br>
                    </div>
                </div>
                <div class='col'>
                    <div class="image">
                        <figure>
                            <img src="/static/img/komplet_casa_1.jpeg" alt=''/>
                            <div><a href="{{url_for('public_routes.gallery')}}" class="centered_3">Sets</a></div>
                        </figure>
                        <br>
                    </div>
                </div>
                <div class='col'>
                    <div class="image">
                        <figure>
                            <img src="/static/img/bes_slika3.jpeg" alt=''/>
                            <div><a href="{{url_for('public_routes.gallery')}}" class="centered_3">Candlestick</a></div>
                        </figure>
                        <br>
                    </div>
                </div>
                <div class='col'>
                    <div class="image">
                        <figure>
                            <img src="/static/img/bes_slika3.jpeg" alt=''/>
                            <div><a href="{{url_for('public_routes.gallery')}}" class="centered_3">Candlestick</a></div>
                        </figure>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
    

{% endblock %}